body{
    background: black;
    color: black;
}
.row{
    margin: 15px;
}
.box{
    display: flex;
    padding: 2rem;
    flex-direction: column;
}
.icon{
    width: auto;
    margin:3rem 0 5rem ;
}
.cred{
    display: flex;
    flex-direction: row;
    margin:0.5rem 0 0.5rem ;
}

.heading{
    border-bottom: 10px;
}
.map{
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    opacity: .8;
}
iframe{
    width: 100%;
    height: 70vh;
}
input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 7px;
    margin-bottom:3vh;
    box-sizing: border-box;
    outline: none;
}
#Message{
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 7px;
    padding: 10px 10px;
}
.btn{
    width: 15vh;
    height: 5vh;
    border: 7px;
    background-color: red;
    
}

.btn:hover{
    background-color: white;
    transition-duration: 0.3s;
}
p{  
    margin: 0px;
    padding: 5px;
    color: white;
    text-align:justify;
    font-size:130%;
    font-family: 'Inter', sans-serif;
}
h1{
    color: red;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 600px) {
    a{
        padding-right: .15rem;
    }
}
@media only screen and (min-width: 601px) {
    a{
        padding-right: 3rem;
    }
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
} 